@using ChessGame
@inherits GameComponentModel

<table>
    @for (int i = -1; i < 8; i++)
    {
        <tr>
            @for (int j = -1; j < 8; j++)
            {
                @if (i == -1 || j == -1)
                {
                    <BorderComponent Row="@i" Column="@j"></BorderComponent>
                }
                else
                {

                    <CellComponent Row="@(Inversion ? 7 - i : i)" Column="@(Inversion ? 7 - j : j)" ParentComponent="@this" ChessCell="@Board.GetCell((Inversion ? 7 - i : i), (Inversion ? 7 - j : j))" ></CellComponent>
                }
            }
        </tr>
    }
</table>