@using ChessGame
@using ChessGameWebApp.Client.Services;
@inherits GameComponentModel
@inject IGameHubService gameHub

<h3>GameComponent</h3>


@code {
    private async void moveBack()
    {
        await gameHub.MoveBack();
    }

}
<input class="btn btn-primary" type="button" value="MoveBack" @onclick="moveBack"/>
<StatusComponent Board="@Board"></StatusComponent>

<table class="ChessBoard" id="board">

    @for (int i = 0; i < 8; i++)
    {
        <tr>
            @for (int j = 0; j < 8; j++)
            {
                <CellComponent Row="@i" Column="@j" ParentComponent="@this" ChessCell="@Board.GetCell(i, j)" ></CellComponent>
            }
        </tr>
    }
</table>